.collection-item {
    display: flex;
    justify-content: space-between; /* maximize space between elements */
}

.material-icons {
    cursor: pointer;
    margin-right: 5px;
} 

.vote-box {
    display: flex;
    align-items: center;
}